<div class="container ">
  <div class="row mb-3">
    <h3>商品一覧</h3>  
    <%= link_to "+", new_admin_item_path, class: "btn rounded-circle ml-auto shadow p-2" %>
  </div>

  <table class="table  table-hover">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>  
          <td>
            <%=link_to admin_item_path(item.id) do %>
              <%= image_tag item.image, size: "100x100" %>
              <%= item.name %>
            <% end %>
          </td>
          <td>¥<%= item.add_tax_cost %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_sales == true %>
              <div>販売中</div>
            <% else %>
              <div>販売停止中</div>
            <% end %>
          </td>
        </tr>
        <% end %>
  </table>
</div>