<h3>商品詳細</h3>
  <%= image_tag @item.image, size: "200x200" %>
  
  <div>
    <div>商品名</div>
    <div><%= @item.name %></div>
  </div>
  
  <div>商品説明</div>
  <div><%= @item.explanation %></div>
  
  <div>ジャンル</div>
  <div><%= @item.genre.name %></div>
  
  <div>税込価格</br>
    (税抜価格)</div>
  <div><%= @item.add_tax_cost %>円</br>
  <%= @item.cost %>円</div>
  
  <div>販売ステータス</div>
  <div>
    <% if @item.is_sales == true %>
      <div>販売中</div>
    <% else %>
      <div>販売停止中</div>
    <% end %>
  </div>
  
  <div><%= link_to "編集", edit_admin_item_path %></div>