<%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row">

    <div class="col-3">
      <%= render "public/genres/search.box", genres: @genre %>
    </div>

    <div class="col-9">
      <div class="top_image">
        <div class="top_message mx-auto">
          <div class="container-fluid">
             <div class="row topimg align-items-center">
                <div class="col-12">
                  <div id="randomImg">
                    <p class="typing">ようこそ、ながのCAKEへ！</p>
                    <p class="typing">このサイトは、ケーキ販売のECサイトになります。</p>
                    <p class="typing">会員でない方も商品の閲覧はできますが、</p>
                    <p class="typing">購入には会員登録が必要になります。</p>
                  </div>
                </div>
             </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="">新着商品</h2>

        <div class="cake.index  d-flex">
          <% @items.each do |item| %>
            <div class="col-3">
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, format: "jpg", size: "150x150" %>
                  <%= item.name %>
                  <%= item.cost %>円
                <% end %>
            </div>
          <% end %>
        </div>

        <div class="text-right"><%= link_to "全ての商品をみる", items_path %></div>
  </div>
</div>
 </div>
</div>