
<div class="container">


  <h3 class="title my-4">注文情報入力</h2>

  <div class="row justify-content-center">
    <div class="col-11">
      <%= form_with model: @order, url:orders_confirm_path, method: :post do |f| %>
      <div class="payment_select mb-4">
        <h4>支払方法</h4>
        <p class="radio_bottun mb-0 ml-3">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
          <%= f.label :payment_method, "クレジットカード" %>
        </p>
        <p class="radio_bottun mb-0  ml-3">
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, "銀行振込" %>
        </p>
      </div>

      <div class="address_select">
        <h4>お届け先</h4>
        <div class="self_address">
          <p class="radio_bottun mb-0 ml-3">
            <%= f.radio_button :address_type, Order.address_types.key(0), checked: true %>
            <%= f.label :address_type, "ご自身の住所" %>
          </p>
          <p class="address_text mb-0 ml-5">
            〒<%= current_customer.post_code + "　" + current_customer.address  %>
          </p>
          <P class="name_text ml-5">
            <%= current_customer.last_name + "　" + current_customer.first_name %>
          </P>
        </div>

        <div class="registered_address">
          <p class="ml-3 mb-0">
            <%= f.radio_button :address_type, Order.address_types.key(1) %>
            <%= f.label :address_type, "登録済み住所から選択" %>
          </p>
          <p class=" ml-5"><%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :post_code_in_address) %></p>
        </div>

        <div class="new_address mb-3">
          <p class="ml-3 mb-0">
            <%= f.radio_button :address_type, Order.address_types.key(2) %>
            <%= f.label :address_type, "新しいお届け先" %>
          </p>
          <table  class="ml-5">
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :post_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", :size=>"60" %></td>
            </tr>
             <tr>
              <td>宛名</td>
              <td><%= f.text_field :name, placeholder: "令和道子" %></td>
            </tr>
          </table>
        </div>

        <div class="submit">
          <div class="row justify-content-center">
             <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
          </div>
        </div>

      </div>
      <% end %>

    </div>
  </div>
</div>



