
<div class="order_input">
  <h3 class="title">注文情報入力</h2>
  <%= form_with model: @order, url:public_orders_confirm_path, method: :post do |f| %>
  <div class="payment">
    <h4>支払い方法</h4>
    <p class="mb-0">
      <%= f.radio_button :payment_method, :card, checked: true %>
      <%= f.label :payment_method, "クレジットカード" %>
    </p>
    <p class="mb-0">
      <%= f.radio_button :payment_method, :bank %>
      <%= f.label :payment_method, "銀行振込" %>
    </p>
  </div>
  <div class="adress">
    <h4>お届け先</h4>
    <p class="mb-0">
      <%= f.radio_button :address_type, "customer_address" %>
      <%= f.label :address_type, "ご自身の住所" %>
    </p>
    <p class="mb-0">
      〒<%= current_member.post_code + "　" + current_member.address + "　" + current_member.family_name + current_member.first_name %>
    </p>
  </div>
  <% end %>


</div>



